<html>
  <head>
    <title>
    Marco's wonderful finance application suite
    </title>
    <style>
      .transaction {
        display: table-row;
      }
      .field {
        padding-right: 2em;
        display: table-cell;
      }
    </style>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="jquery-ui.min.css">
	<script src="external/jquery/jquery.js"></script>
	<script src="jquery-ui.min.js"></script>
 </head>
  <body>
    <h1>Marcos finance app</h1>
    <div>
      <h2>Accounts:</h2>
      {% for a in accounts %}
      <div class="account">
        account: {{ a.name }}
        type: {{ a.type }}
      </div>
      {% endfor %}
    </div>
    <div id="transactions">
      <h2>Transactions:</h2>
    {% if transactions %}
      {% for t in transactions %}
      <div class="transaction">
        <div class="field"> {{ t.account.name }} </div>
        <div class="field"> {{ t.date|date:"D d M Y" }} </div>
        <div class="field"> {{ t.display_amount }} </div>
        <div class="field"> {{ t.description }} </div>
        <div class="field">
          {% for a in t.tags.all %}
          <button style='tag'>{{ a.name }}</button>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    {% endif %}
    </div>
  </body>
</html>
