<html>
  <head>
    <title>
    Marco's wonderful finance application suite
    </title>
    <style>

    </style>
 </head>
  <body>
    <h1>Marcos finance app</h1>
    <div id="transactions">
    {% if transactions %}
    <table border="1">
      {% for t in transactions %}
      <tr>
        <td> {{ t.date }} </td>
        <td> {{ t.amount }}p </td>
        <td> {{ t.description }} </td>
        <td>
          {% for a in t.tags.all %}
          <button style='tag'>{{ a.name }}</button>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    </div>
  </body>
</html>
